/* Press Start 2P font-family: 'Press Start 2P', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Righteus Fonts font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Kanit font-family: 'Kanit', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* Variables de entorno */
:root{
    --index_title_font: 'Press Start 2P', cursive;
    --sub_titles_font: 'Righteous', cursive;
    --table_font: 'Kanit', sans-serif;
    --primary_color: #0091FE;
    --secondary_color: #1B5779;
    --table_title_color: #C7CFD7;
    --search_input_color: #0091FE;
}